{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Global External Peerings{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="/master.html">Dashboard</a>{% endblock sb_admin_breadcrumb %}
 {% block sb_admin_breadcrumb_active %}
 <li class="active">
      <i class="fa fa-table"></i> Global External Peering
 </li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}
 <div class="row">
    <div class="col-lg-12">
        {% for key, val in prefixes_per_neighbor.items %}
        <h2>{{key}}</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><center>Peer</center></th>
                        <th><center>Description</center></th>
                        <th><center>Route-map in</center></th>
                        <th><center>Route-map out</center></th>
                        <th><center>Advertised Prefixes</center></th>
                    </tr>
                </thead>
                {% for peer, peer_details in val.items %}
                <tbody>
                    <tr>
                        <td><center>{{ peer }}</center></td>
                        <td><center>{{ peer_details.description}}</center></td>
                        <td><center>{{peer_details.route_map_in}}</center></td>
                        <td><center>{{peer_details.route_map_out}}</center></td>
                        <td><center>
                        {% for prefix in peer_details.prefixes %}
                        {{ prefix }}<br>
                        {% endfor %}
                        </center></td>

                    </tr>
                </tbody>
                {% endfor %}
            </table>
                {% endfor %}
        </div>
    </div>
</div>

<!-- /.row -->
{% endblock sb_admin_content %}
