{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Lag Interfaces Status{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="/master.html">Dashboard</a>{% endblock sb_admin_breadcrumb %}
 {% block sb_admin_breadcrumb_active %}
 <li class="active">
      <i class="fa fa-table"></i> Lag Interfaces Status
 </li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  
 <div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th><center>Hostname</center></th>
                        <th><center>Te0/1/0</center></th>
                        <th><center>Te0/2/0</center></th>
                        <th><center>Te0/3/0</center></th>
                    </tr>
                </thead>
                {% for key, val in lag_status.items %}
                <tbody>
                    {% if val.Te010 == "out_of_bundle" or val.Te020 == "out_of_bundle" or val.Te030 == "out_of_bundle" %}
                    <tr bgcolor="#db7093">
                        <td><center>{{key}}</center></td>
                        <td><center>{{ val.Te010}}</center></td>
                        <td><center>{{ val.Te020}}</center></td>
                        <td><center>{{ val.Te030}}</center></td>
                    </tr>
                    {% else %}
                    <tr bgcolor="#90ee90">
                        <td><center>{{key}}</center></td>
                        <td><center>{{ val.Te010}}</center></td>
                        <td><center>{{ val.Te020}}</center></td>
                        <td><center>{{ val.Te030}}</center></td>
                    </tr>
                    {% endif %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<!-- /.row -->
{% endblock sb_admin_content %}
