{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Blank page{% endblock sb_admin_title %}
{% block sb_admin_subheading %}<small>Subheading</small>{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="/master.html">Dashboard</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}<li class="active">
      <i class="fa fa-file"></i> Blank page
 </li>{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
    <html>
  <head>
      <h2> Just a Demo Page</h2>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Traffic Type', 'Volume (TB/M)'],
          ['SMS',     2],
          ['Voice',      11],
          ['Data',  23],
        ]);

        var options = {
          title: 'Traffic Segmentation'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </body>
</html>

    <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'number of VXCs', 'Megaport', "Direct Peering"],
          ['2016',  5,      1, 10],
          ['2017',  10,      2, 20],
          ['2018',  20,       3, 30],
          ['2019',  30,      4, 40]
        ]);

        var options = {
          title: 'traffic segmentation',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>





{% endblock sb_admin_content %}
