<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/credentials/" method="post">
    <label for="username">username: </label>
    <input id="username" type="text" name="username" value="{{ username }}">
    <label for="password">password: </label>
    <input id="password" type="text" name="password" value="{{ password }}">
    <input type="submit" value="OK">
</form>
</body>
</html>