{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}reachability utility{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="/pinger.html">Dashboard</a>{% endblock sb_admin_breadcrumb %}
 {% block sb_admin_breadcrumb_active %}

 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  
 <div class="row">
    <div class="col-lg-3">
        <form action="/reachability_results">
            <b><p>Choose Site</p></b>
                     <input type="radio" name="site_name" value="IAD-DC2"> DC2<br>
                     <input type="radio" name="site_name" value="ORD-CH1"> CH1<br>
                     <input type="radio" name="site_name" value="SJC-SV1"> SV1<br>
                     <input type="radio" name="site_name" value="YYZ-TR1"> TR1<br>
                     <input type="radio" name="site_name" value="YVR-VAN2"> VAN2<br>
                     <input type="radio" name="site_name" value="LHR-LD6"> LD6<br>
                     <input type="radio" name="site_name" value="AMS-AM3"> AM5<br>
                     <input type="radio" name="site_name" value="FRA-FR5"> FR5<br>
                     <input type="radio" name="site_name" value="SYD-SY1"> SY1<br>
                     <input type="radio" name="site_name" value="SIN-SG1"> SG1<br><br>
                <b><p>Choose Layer</p></b>
                     <input type="radio" name="layer" value="ER01">Edge<br>
                     <input type="radio" name="layer" value="CR01">Core<br><br>
                <b><p>Options</p></b>
                     <input type="checkbox" name="isVRF" value="True"> Ping from VRF<br>
                     <input type="checkbox" name="source_from_loopback" value="True">Use Loopback as a Source<br>
                     <input type="checkbox" name="dfbit" value="True">Do Not Fragment<br><br>
                     <input type="textbox" name="target"  PLACEHOLDER="Enter IP Address"><br><br>
                     <input type="textbox" name="size" PLACEHOLDER="Enter Packet Size"><br><br>
                 <input type="submit" value="Submit">
        </form>
    </div>
            <div class="col-lg-6">
             <img src={% static 'topology.png' %}>
            </div>
 </div>
{% endblock sb_admin_content %}