{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Reachability Results{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="/pinger.html">Dashboard</a>{% endblock sb_admin_breadcrumb %}
 {% block sb_admin_breadcrumb_active %}
     {% load static %}
 <li class="active">
      <i class="fa fa-table"></i> Lag Interfaces Status
 </li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  
    <div class="row">
        <div class="col-lg-6">
            {% for result in results %}
                {{ result }}
        </div><br>
        {% endfor %}
    </div>
<!-- /.row -->
{% endblock sb_admin_content %}
