{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Redundancy Groups Status{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="/master.html">Dashboard</a>{% endblock sb_admin_breadcrumb %}
 {% block sb_admin_breadcrumb_active %}
 <li class="active">
      <i class="fa fa-wrench"></i> Redundancy Groups Status
 </li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}
                <!-- /.row -->
    {% for key, val in redundancy.items %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2><b>{{key}}</b></h2>
                        <div class="row">
                            <div class="col-lg-6 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-body ">
                                        {% for router, values in val.items %}
                                            {% if "CR01" == router %}
                                            <b>{{ router }}</b>
                                                {%  for group, status in values.items %}
                                                    {% if status == "ACTIVE" or status == "Active" %}
                                                        <div style="width:60px;height:40px;border:1px solid #000;background-color: #4cae4c;position: center">{{ group }}</div>
                                                    {% elif status == "STANDBY" or status == "Standby" %}
                                                        <div style="width:60px;height:40px;border:1px solid #000;background-color: #f5dd5d;position: center">{{ group }}</div>
                                                    {% else %}
                                                        <div style="width:60px;height:40px;border:1px solid #000;background-color: #ce8483;position: center">{{ group }}</div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {% for router, values in val.items %}
                                            {% if "CR02" == router %}
                                            <b>{{ router }}</b>
                                                {%  for group, status in values.items %}
                                                    {% if status == "ACTIVE" or status == "Active" %}
                                                        <div style="width:60px;height:40px;border:1px solid #000;background-color: #4cae4c;position: center">{{ group }}</div>
                                                    {% elif status == "STANDBY" or status == "Standby" %}
                                                        <div style="width:60px;height:40px;border:1px solid #000;background-color: #f5dd5d;position: center">{{ group }}</div>
                                                    {% else %}
                                                        <div style="width:60px;height:40px;border:1px solid #000;background-color: #ce8483;position: center">{{ group }}</div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock sb_admin_content %}
