{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Checks{% endblock sb_admin_title %}
{% block sb_admin_subheading %}<small>Add Checks</small>{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}<li class="active">
      <i class="fa fa-file"></i> Check Adder
 </li>{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
    <form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="save" onclick="window.location.href='index.html'">
    </form>
<center><input type="button" value="Refresh Page" onClick="location.href=location.href"></center>
{#    <form action="http://www.google.com/search" method="GET">#}
{#    <input type="text" name="q" placeholder="This is a test input">#}
{#    <input type="submit" value="save">#}
{#    </form>#}
{% endblock sb_admin_content %}
