<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>New Article</h1>

<form action="" method="post">
	{% csrf_token %}
	<label for="title">Title</label>
	<input type="text" name="title"/> <br/>

	<input type="submit" value="Submit" />
</form>
</body>
</html>