{% extends "rest_framework/base.html" %}

{% block title %} OSNC - API {% endblock %}

    {% block branding %}
    <span>
        <a class='navbar-brand' rel="nofollow" >
        <h4><b>Network API</b></h4> <span class="version">1</span>
         </a>
    </span>
    {% endblock %}
